:root {
  /* main page */
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-txt-bcg-color: #ffffff;
  --hero-footer-bcg-clr: #2f303a;

  /* portfolio page */
  --button-bcg-clr: #f5f4fa;
  --button-active-bcg-clr: #2196f3;
  --bcg-clr: #ffffff;
}

body {
  /* background-color: #e5e5e5; */
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1600px;
  margin-left: 0;
  margin-right: 0;
  /* padding-left: 20px;
  padding-right: 20px; */
  /* outline: 2px solid tomato; */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* header */

.page-header {
  width: 1600px;
  /* height: 80px; */
  background-color: var(--second-txt-bcg-color);
}

.header-logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
  /* margin-top: 24px; */
  margin-left: 215px;
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

.header-web-color {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
}

.site-nav .link {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142px;
  letter-spacing: 0.02em;
}

/* main nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.site-nav-contacts {
  display: flex;
  margin-left: 331px;
  margin-right: 215px;
}

.site-nav .link-title:last-child {
  margin-right: 0;
}
.link-title {
  margin-right: 50px;
}

.site-nav-contacts .link + .link {
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav-contacts a {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.site-nav-contacts a:focus,
.site-nav-contacts a:hover {
  color: var(--accent-color);
}

/* hero */
.hero-section {
  background-color: var(--hero-footer-bcg-clr);
  text-align: center;
  margin-bottom: 94px;
  width: 1600px;
  /* height: 600px; */
}

.hero-section-title {
  padding-top: 200px;
  padding-right: 452px;
  padding-left: 452px;
  margin-top: 0;
  margin-bottom: 30px;
  /* background-color: tomato; */
  color: var(--second-txt-bcg-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.button-order {
  margin: auto;
  /* margin-right: 700px;
  margin-bottom: 200px;
  margin-left: 700px; */
  background-color: var(--accent-color);
  color: var(--second-txt-bcg-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  border: 0px;
}

/* advantage section */

.advantage-list {
  display: flex;
  justify-content: space-between;
  margin-right: 215px;
  margin-left: 215px;
}

.advantage-section,
.what-we-do-section {
  width: 1600px;
  background-color: var(--second-txt-bcg-color);
}

.advantage-titles {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: left;
}

.advantage-titles-text {
  margin-top: 0;
  margin-bottom: 94px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
}

/* wtah we do section */

.what-we-do-section {
  width: 1600px;
}

.what-we-do-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
}

.developers-photo {
  margin-bottom: 30px;
}

.what-we-do-list {
  display: flex;
  justify-content: center;
  margin-right: 215px;
  margin-left: 215px;
}

.what-we-do-list .photo-example + .photo-example {
  margin-left: 30px;
}

.what-we-do-photos {
  margin-bottom: 94px;
}

/* Team section */

.team-section {
  background-color: #f5f4fa;
  width: 1600px;
}

.team-title {
  text-align: center;
  padding-top: 94px;
}

.developers-list {
  display: flex;
  justify-content: space-between;
  margin-right: 215px;
  margin-left: 215px;
}

.developer-names {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
}

.developers-professions {
  margin-top: 0;
  margin-bottom: 124px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
}

/* footer */

.footer {
  background-color: var(--hero-footer-bcg-clr);
  /* height: 252px; */
  width: 1600px;
  border-radius: 0px;
}

.footer-logo {
  display: inline-block;
  margin-top: 60px;
  margin-right: 1240px;
  margin-bottom: 20px;
  margin-left: 215px;

  color: var(--second-txt-bcg-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.footer-web-color {
  color: var(--accent-color);
}

.footer-adress {
  color: var(--second-txt-bcg-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.physical-adress {
  margin: 0;
  margin-bottom: 9px;
  margin-right: 1154px;
  margin-bottom: 9px;
  margin-left: 215px;
  padding: 0;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts.mail {
  margin-right: 1154px;
  margin-bottom: 9px;
  margin-left: 215px;
}

.footer-contacts.tel {
  margin-right: 1154px;
  margin-bottom: 60px;
  margin-left: 215px;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* portfolio */

.portfolio-container {
  width: 1600px;
}

.border-line {
  border-bottom: 1px solid #e5e5e5;
}

/* buttons */

.button-menu {
  background-color: var(--button-bcg-clr);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: 0px;
}

.portfolio-buttons {
  margin-right: 8px;
}

.buttons-section :last-child {
  margin-right: 0;
}

.buttons-section {
  margin-left: 495px;
  margin-right: 494px;
  display: flex;
  justify-content: center;

  margin-bottom: 0;
  margin-top: 94px;
}

.button-menu:hover,
.button-menu:focus {
  background-color: var(--button-active-bcg-clr);
  color: var(--second-txt-bcg-color);
}

/* photocard set */

.photocard-set {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  margin-bottom: 346px;
}

.portfolio-section {
  background-color: var(--bcg-clr);
}

.portfolio-titles {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* .portfolio-img {
  margin-top: 34px;
  margin-bottom: 20px;
} */

.photocard-set-items {
  width: 370px;
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
